.avatar {
  width: 42px;
  color: #fff;
  height: 42px;
  display: grid;
  flex: 0 0 auto;
  font-size: 14px;
  font-weight: 700;
  user-select: none;
  border-radius: 50%;
  place-items: center;
  background: var(--accent);
}

.image {
  object-fit: cover;
  background: var(--border);
}

.small {
  width: 36px;
  height: 36px;
  font-size: 13px;
}
